<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---------------LINKS------------->
    
    <script src="https://kit.fontawesome.com/53as8500608.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <title>Ville Economique</title>
</head>
<body>
    <button onclick="window.location.href = '/commentaire';"> Commentaire </button>
    <div class="container glass">
        <div class="search">
            <form method="post" action="/ville-eco">
                <input type="text" class="search-bar" placeholder="Nom ville" name="code_commune">
                <button type="submit" class="btn "><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="chargement">
            <h2 class="city"><%=nom_commune%></h2>
            <div class="flex">
              <div class="codeInsee"><strong>Code Insee :</strong> <%=immobilier%></div>
              <br />
              <br />
              <div class="prix_maison_neuves"><strong>Informations sur les maisons neuves :</strong> <I><%=prix_maison_neuves%></I></div>
              <br />
              <br />
              <div class="prix_appart_ancien"><strong>Informations sur les appartements anciens : </strong><I><%=prix_appart_ancien%></I></div>
              <br />
              <br />
              <div class="prix_maison_ancien"><strong>Informations sur les maisons anciennes :</strong><%=prix_maison_ancien%></div>
              <br />
              <br />
              <div class="prix_appart_neuf"><strong>Informations sur les appartements neufs :</strong><%=prix_appart_neuf%></div>
              <br />
              <br />
              <div class="conso"><strong>Consommation totale d'énergie :</strong><%=conso%> MWh</div>
              <br />
              <br />
              <div class="covoit"><strong>Nombre d'aires de covoiturage :</strong><%=covoit%></div>
              <br />
              <div class="scoreInternet"><strong>Score Internet d'après l'API opendatamiashs :</strong><%=scoreInternet%> !</div>
              <br />
            </div>
        </div>
    </div> 
</body>
</html>